<div class="hd posts">
    <a href="/index.html"><i class="fa fa-reply replay-btn" aria-hidden="true"></i></a>
    <div class="post-title">
        <p>
            <%= page.title %>
        </p>
        <hr>
    </div>
    <div class="post-date">
        <p class="post-created" title="Created"><i class="far fa-calendar"></i> <%- date(page.date, 'YYYY-MM-DD') %></p>
        &mdash;
        <p class="post-updated" title="Updated"><i class="far fa-calendar-check"></i> <%- date(page.updated, 'YYYY-MM-DD') %></p>
    </div>
    <div class="post-content">
        <%- page.content %>
    </div>
</div>
