<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        <%= config.title %>
    </title>
    <%- css('libs/highlight/styles/monokai-sublime.css') %>
    <%- css('libs/font-awesome/css/all.min.css') %>
    <%- css('css/style.css') %>
</head>